/*居中*/

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/*background-linear-gradient by apple.com*/

background: -webkit-linear-gradient(top, #4b7199 0%, #5a82a9 40%, #98c8ea 100%);
background: linear-gradient(to bottom, #4b7199 0%, #5a82a9 40%, #98c8ea 100%);

/*flex*/
.flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.flex>.cell{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;    /*padding: 0!important;*/position:relative}
.flex>.cell.fixed{-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:auto}

/*截字*/
overflow:hidden; text-overflow:ellipsis; white-space:nowrap;

.lineClamp1,.lineClamp2,.lineClamp3,.lineClamp4{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;}
.lineClamp2{-webkit-line-clamp:2;}
.lineClamp3{-webkit-line-clamp:3;}
.lineClamp4{-webkit-line-clamp:4;}
